<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.example.libraryapp">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.libraryapp/css/default.css">
         </property>
      </product>
   </extension>
   <extension
     id="libraryWindow"
     point="org.eclipse.ui.views">
  <view
        id="com.example.libraryapp.libraryWindow"
        name="Library Window"
        class="com.example.libraryapp.LibraryWindow"
        icon="icons/library.png">
  </view>
</extension>

</plugin>
